# Virtualenv
venv/

# SQLite database
db.sqlite3

# Python cache
__pycache__/
*.pyc

# Django project specific
*.log
local_settings.py

# IDE settings
.vscode/
.idea/
userData

venv/
.env
__pycache__/
*.pyc